{:deps    {re-frame/re-frame    {:mvn/version "1.2.0"}
           metosin/malli        {:mvn/version "0.6.1"}
           thheller/shadow-cljs {:mvn/version "2.15.10"}}

 :paths   ["src" "resources" "modules/src"],
 :aliases {:jar {:extra-paths ["resources"]
                 :extra-deps  {luchiniatwork/cambada {:mvn/version "1.0.2"}},
                 :main-opts   ["-m" "cambada.jar"
                               "-m" "lambda.core"
                               "-m" "--copy-source "]}}}
